.details__text h2,h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #222222;
}

.details__text h3{
    font-style: bold;
}

.details__text h2{
    font-size: 29px;
}
    
.details__page h1{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #222222;
    font-size: 40px;
}

.detail__cards{
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}